/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#visitor_header {
  background-color: gold;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.8fr 0.4fr 0.4fr 0.1fr;
  grid-template-rows: 20vh;
  box-shadow: 2px 2px 5px rgba(220, 220, 220, 0.5);
}
#visitor_header > figure {
  grid-column: 2/3;
  height: 100%;
}
#visitor_header > figure > img {
  height: 100%;
}
#visitor_header > nav {
  grid-column: 4/5;
  display: flex;
}
#visitor_header > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#visitor_header > nav > ul > li {
  padding: 5px 0;
}
#visitor_header > nav > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}
#visitor_header > nav > ul > li:hover {
  transform: translateY(-4px);
  border-bottom: 4px solid black;
}
#visitor_header > ul {
  grid-column: 6/7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#visitor_header > ul > li {
  display: flex;
  align-items: center;
  height: 100%;
}
#visitor_header > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}
#visitor_header > ul > li > a:hover {
  transform: translateY(-4px);
  border-bottom: 4px solid black;
}
#visitor_header > ul > li > figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitor_header > ul > li > figure > img {
  height: 60%;
  border-radius: 100%;
}

#footer {
  background-color: gold;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer > section:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > h2 {
  font-size: 1.2 rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vh;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > p {
  text-align: justify;
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > h2 {
  font-size: 1.2 rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vh;
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > form {
  padding: 0 3vw;
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > form > fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > form > fieldset > input {
  border: none;
  border-radius: 5px;
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > form > fieldset > textarea {
  border: none;
  border-radius: 5px;
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > form > button {
  border: none;
  background-color: gold;
  border-radius: 5px;
  padding: 1vh 1vw;
}
#footer > section:nth-of-type(2) {
  margin-top: 3vh;
}
#footer > section:nth-of-type(2) > p {
  font-size: 1.2rem;
  font-weight: bold;
}

#visitorHome > section:nth-of-type(1) {
  background-image: url("https://images.pexels.com/photos/3298637/pexels-photo-3298637.jpeg");
  background-size: cover;
  padding: 40vh 5vw;
}
#visitorHome > section:nth-of-type(1) h1 {
  font-size: 5rem;
  color: gold;
}
#visitorHome > section:nth-of-type(2) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorHome > section:nth-of-type(2) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorHome > section:nth-of-type(2) > p {
  font-size: 1.4rem;
  margin-bottom: 2vh;
}
#visitorHome > section:nth-of-type(3) {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#visitorHome > section:nth-of-type(3) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorHome > section:nth-of-type(3) > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4vw;
}
#visitorHome > section:nth-of-type(3) > ul > li > article {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 3vh 3vw;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > header > figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > header > figure > img {
  border-radius: 100%;
  width: 80%;
  aspect-ratio: 1/1;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > section > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5vh 0;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > section > p {
  font-size: 1.2rem;
  margin-bottom: 5vh;
  text-align: justify;
  overflow: auto;
  height: 25vh;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > section > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vh;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > section > section > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3vh;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > footer {
  display: flex;
  justify-content: center;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > footer > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > footer > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
#visitorHome > section:nth-of-type(4) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorHome > section:nth-of-type(4) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorHome > section:nth-of-type(4) > p {
  font-size: 1.4rem;
  margin-bottom: 2vh;
}

#visitorChiefs {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#visitorChiefs > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorChiefs > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4vw;
  row-gap: 4vh;
}
#visitorChiefs > ul > li > article {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 3vh 3vw;
}
#visitorChiefs > ul > li > article > header > figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#visitorChiefs > ul > li > article > header > figure > img {
  border-radius: 100%;
  width: 80%;
  aspect-ratio: 1/1;
}
#visitorChiefs > ul > li > article > section > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5vh 0;
}
#visitorChiefs > ul > li > article > section > p {
  font-size: 1.2rem;
  margin-bottom: 5vh;
  text-align: justify;
  overflow: auto;
  height: 25vh;
}
#visitorChiefs > ul > li > article > section > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vh;
}
#visitorChiefs > ul > li > article > section > section > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3vh;
}
#visitorChiefs > ul > li > article > footer {
  display: flex;
  justify-content: center;
}
#visitorChiefs > ul > li > article > footer > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#visitorChiefs > ul > li > article > footer > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#visitorDishes {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#visitorDishes > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorDishes > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4vw;
  row-gap: 4vh;
}
#visitorDishes > ul > li > article {
  background-color: whitesmoke;
}
#visitorDishes > ul > li > article > header {
  width: 100%;
}
#visitorDishes > ul > li > article > header > figure {
  width: 100%;
}
#visitorDishes > ul > li > article > header > figure > img {
  width: 100%;
  aspect-ratio: 3/2;
}
#visitorDishes > ul > li > article > section {
  padding: 3vh 3vw;
}
#visitorDishes > ul > li > article > section > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5vh 0;
}
#visitorDishes > ul > li > article > section > p:nth-of-type(1) {
  font-size: 1.2rem;
  margin-bottom: 5vh;
  text-align: justify;
  overflow: auto;
  height: 10vh;
}
#visitorDishes > ul > li > article > section > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vh;
}
#visitorDishes > ul > li > article > section > section > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3vh;
}
#visitorDishes > ul > li > article > footer {
  padding: 3vh 3vw;
}
#visitorDishes > ul > li > article > footer > figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#visitorDishes > ul > li > article > footer > figure > img {
  border-radius: 100%;
  width: 20%;
}
#visitorDishes > ul > li > article > footer > figure > figcaption > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#visitorDishes > ul > li > article > footer > figure > figcaption > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#visitorChef > section:nth-of-type(1) {
  background-color: lightgrey;
  padding: 5vh 5vw;
  display: grid;
  grid-template-columns: 4fr 6fr;
}
#visitorChef > section:nth-of-type(1) > figure {
  width: 100%;
}
#visitorChef > section:nth-of-type(1) > figure > img {
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
#visitorChef > section:nth-of-type(1) > section {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#visitorChef > section:nth-of-type(1) > section > h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4vh;
}
#visitorChef > section:nth-of-type(1) > section > p {
  font-size: 1.4rem;
}
#visitorChef > section:nth-of-type(1) > section > section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10vh;
}
#visitorChef > section:nth-of-type(1) > section > section > p {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: gold;
  padding: 5px 15px;
  border-radius: 10px;
}
#visitorChef > section:nth-of-type(2) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorChef > section:nth-of-type(2) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorChef > section:nth-of-type(2) > section {
  background-color: whitesmoke;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  border-radius: 15px;
}
#visitorChef > section:nth-of-type(2) > section > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#visitorChef > section:nth-of-type(2) > section > ul > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3vh 0;
}
#visitorChef > section:nth-of-type(2) > section > ul > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#visitorChef > section:nth-of-type(2) > section > ul > li > p {
  font-size: 1.2rem;
  margin: 1vh 1vw;
}
#visitorChef > section:nth-of-type(3) {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#visitorChef > section:nth-of-type(3) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorChef > section:nth-of-type(3) > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
  row-gap: 2vh;
}
#visitorChef > section:nth-of-type(3) > ul > li {
  width: 25vw;
}
#visitorChef > section:nth-of-type(3) > ul > li > figure {
  width: 100%;
}
#visitorChef > section:nth-of-type(3) > ul > li > figure > img {
  width: 100%;
  aspect-ratio: 3/2;
}
#visitorChef > section:nth-of-type(3) > ul > li > figure > figcaption {
  font-size: 1.2rem;
}
#visitorChef > section:nth-of-type(4) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorChef > section:nth-of-type(4) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

#registerForm {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#registerForm > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#registerForm > form {
  display: grid;
  grid-template-rows: 15 1fr;
  padding: 5vh 5vw;
}
#registerForm > form > fieldset {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#registerForm > form > fieldset > label {
  text-align: right;
  margin: 1vh 1vw;
  font-size: 1.2rem;
}
#registerForm > form > fieldset > input, #registerForm > form > fieldset textarea, #registerForm > form > fieldset select {
  width: 300px;
  margin: 1vh 1vw;
  border: none;
  border-radius: 10px;
  background-color: gold;
  font-size: 1.2rem;
  padding: 0 15px;
}
#registerForm > form > button {
  width: 200px;
  margin-top: 5vh;
  padding: 5px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: gold;
  border-radius: 10px;
  justify-self: center;
}

#loginForm {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#loginForm > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#loginForm > form {
  display: grid;
  grid-template-rows: 15 1fr;
  padding: 5vh 5vw;
}
#loginForm > form > fieldset {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#loginForm > form > fieldset > label {
  text-align: right;
  margin: 1vh 1vw;
  font-size: 1.2rem;
}
#loginForm > form > fieldset > input, #loginForm > form > fieldset textarea, #loginForm > form > fieldset select {
  width: 300px;
  margin: 1vh 1vw;
  border: none;
  border-radius: 10px;
  background-color: gold;
  font-size: 1.2rem;
  padding: 0 15px;
}
#loginForm > form > button {
  width: 200px;
  margin-top: 5vh;
  padding: 5px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: gold;
  border-radius: 10px;
  justify-self: center;
}

#profil > section:nth-of-type(1) {
  background-color: lightgrey;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profil > section:nth-of-type(1) > section {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 8fr 1fr;
}
#profil > section:nth-of-type(1) > section > figure {
  width: 100%;
}
#profil > section:nth-of-type(1) > section > figure > img {
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
#profil > section:nth-of-type(1) > section > section {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profil > section:nth-of-type(1) > section > section > h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4vh;
}
#profil > section:nth-of-type(1) > section > section > p {
  font-size: 1.4rem;
}
#profil > section:nth-of-type(1) > section > section > section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10vh;
}
#profil > section:nth-of-type(1) > section > section > section > p {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: gold;
  padding: 5px 15px;
  border-radius: 10px;
}
#profil > section:nth-of-type(1) > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#profil > section:nth-of-type(1) > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
#profil > section:nth-of-type(2) {
  background-color: gold;
  padding: 5vh 5vw;
}
#profil > section:nth-of-type(2) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#profil > section:nth-of-type(2) > section {
  background-color: whitesmoke;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  border-radius: 15px;
}
#profil > section:nth-of-type(2) > section > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profil > section:nth-of-type(2) > section > ul > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3vh 0;
}
#profil > section:nth-of-type(2) > section > ul > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#profil > section:nth-of-type(2) > section > ul > li > p {
  font-size: 1.2rem;
  margin: 1vh 1vw;
}
#profil > section:nth-of-type(3) {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#profil > section:nth-of-type(3) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#profil > section:nth-of-type(3) > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profil > section:nth-of-type(3) > section > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
  row-gap: 2vh;
}
#profil > section:nth-of-type(3) > section > ul > li {
  width: 25vw;
}
#profil > section:nth-of-type(3) > section > ul > li > figure {
  width: 100%;
}
#profil > section:nth-of-type(3) > section > ul > li > figure > img {
  width: 100%;
  aspect-ratio: 3/2;
}
#profil > section:nth-of-type(3) > section > ul > li > figure > figcaption {
  font-size: 1.2rem;
}
#profil > section:nth-of-type(3) > section > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#profil > section:nth-of-type(3) > section > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
#profil > section:nth-of-type(4) {
  background-color: gold;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#profil > section:nth-of-type(4) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#profil > section:nth-of-type(4) > a {
  align-self: center;
  width: auto;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#profil > section:nth-of-type(4) > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#createDishForm {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#createDishForm > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#createDishForm > form {
  display: grid;
  grid-template-rows: 15 1fr;
  padding: 5vh 5vw;
}
#createDishForm > form > fieldset {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#createDishForm > form > fieldset > label {
  text-align: right;
  margin: 1vh 1vw;
  font-size: 1.2rem;
}
#createDishForm > form > fieldset > input, #createDishForm > form > fieldset textarea, #createDishForm > form > fieldset select {
  width: 300px;
  margin: 1vh 1vw;
  border: none;
  border-radius: 10px;
  background-color: gold;
  font-size: 1.2rem;
  padding: 0 15px;
}
#createDishForm > form > button {
  width: 200px;
  margin-top: 5vh;
  padding: 5px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: gold;
  border-radius: 10px;
  justify-self: center;
}

#events > section {
  background-color: lightgrey;
  padding: 5vh 5vw;
}
#events > section > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

.agenda {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}
.agenda > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.agenda > h3 > a {
  font-size: 1.4rem;
  background-color: gold;
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
}
.agenda > h3 > a > span {
  color: black;
  margin: 0 10px;
}
.agenda > table {
  width: 100%;
}
.agenda > table > thead > tr > th {
  border: 1px solid black;
  padding: 5px;
}
.agenda > table > thead > tr > th > strong {
  font-weight: bold;
}
.agenda > table > tbody > tr > td {
  border: 1px solid black;
}
.agenda > table > tbody > tr > td.today {
  background-color: skyblue;
}
.agenda > table > tbody > tr > td > p {
  padding: 5px;
}
.agenda > table > tbody > tr > td > p > strong {
  font-weight: bold;
}
.agenda > table > tbody > tr > td > section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.agenda > table > tbody > tr > td > section > p {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px lightgrey;
}
.agenda > table > tbody > tr > td > section > p.booked {
  background-color: lightsalmon;
}
.agenda > table > tbody > tr > td > section > p.available {
  background-color: lightgreen;
}

/*# sourceMappingURL=style.css.map */
