/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#visitor_header {
  background-color: white;
  display: grid;
  box-shadow: 2px 2px 5px rgba(220, 220, 220, 0.5);
}
@media only screen and (min-width: 1025px) {
  #visitor_header {
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.8fr 0.2fr 0.4fr 0.1fr;
  }
}
@media only screen and (max-width: 1025px) {
  #visitor_header {
    grid-template-columns: 0.1fr 0.4fr 0.1fr 0.4fr 0.1fr;
  }
}
@media only screen and (min-width: 1200px) {
  #visitor_header {
    grid-template-rows: 20vh;
  }
}
@media only screen and (max-width: 1200px) {
  #visitor_header {
    grid-template-rows: 10vh;
  }
}
#visitor_header > figure {
  grid-column: 2/3;
  height: 100%;
}
#visitor_header > figure > img {
  height: 100%;
}
@media only screen and (min-width: 1200px) {
  #visitor_header > figure > img {
    width: 20vh;
  }
}
@media only screen and (max-width: 1200px) {
  #visitor_header > figure > img {
    width: 10vh;
  }
}
#visitor_header > span {
  grid-column: 4/5;
  align-self: center;
  justify-self: right;
  margin-right: 5px;
  font-size: 50px;
}
@media only screen and (min-width: 1025px) {
  #visitor_header > span {
    display: none;
  }
}
@media only screen and (max-width: 1025px) {
  #visitor_header > span {
    display: block;
  }
}
#visitor_header > nav {
  grid-column: 4/5;
}
@media only screen and (min-width: 1025px) {
  #visitor_header > nav {
    display: flex;
  }
}
@media only screen and (max-width: 1025px) {
  #visitor_header > nav {
    display: none;
  }
}
#visitor_header > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#visitor_header > nav > ul > li {
  padding: 5px 0;
}
#visitor_header > nav > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}
#visitor_header > nav > ul > li:hover {
  transform: translateY(-4px);
  border-bottom: 4px solid black;
}
#visitor_header > ul {
  grid-column: 6/7;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1025px) {
  #visitor_header > ul {
    display: flex;
  }
}
@media only screen and (max-width: 1025px) {
  #visitor_header > ul {
    display: none;
  }
}
#visitor_header > ul > li {
  display: flex;
  align-items: center;
  height: 100%;
}
#visitor_header > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
#visitor_header > ul > li > a:hover {
  transform: translateY(-4px);
  border-bottom: 4px solid black;
}
#visitor_header > ul > li > figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitor_header > ul > li > figure > img {
  height: 60%;
  border-radius: 100%;
}

#footer {
  background-color: lightgrey;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer > section:nth-of-type(1) {
  display: grid;
}
@media only screen and (min-width: 1025px) {
  #footer > section:nth-of-type(1) {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1025px) {
  #footer > section:nth-of-type(1) {
    grid-template-columns: 1fr;
  }
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > h3 {
  font-size: 1.2 rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vh;
}
#footer > section:nth-of-type(1) > section:nth-of-type(2) > p {
  text-align: justify;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > h3 {
  font-size: 1.2 rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vh;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > form {
  padding: 0 3vw;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > form > fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > form > fieldset > input {
  border: none;
  border-radius: 5px;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > form > fieldset > textarea {
  border: none;
  border-radius: 5px;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > form > fieldset > small {
  display: none;
  grid-column: 2/3;
  margin: 0 0 2vh 0;
  color: darkred;
}
#footer > section:nth-of-type(1) > section:nth-of-type(1) > form > button {
  border: none;
  background-color: gold;
  border-radius: 5px;
  padding: 1vh 1vw;
}
#footer > section:nth-of-type(2) {
  margin-top: 3vh;
}
#footer > section:nth-of-type(2) > h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

#visitorHome > section:nth-of-type(1) {
  background-image: url("https://images.pexels.com/photos/3298637/pexels-photo-3298637.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40vh 5vw;
}
#visitorHome > section:nth-of-type(1) h2 {
  font-size: 6rem;
  color: gold;
}
#visitorHome > section:nth-of-type(2) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorHome > section:nth-of-type(2) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorHome > section:nth-of-type(2) > p {
  font-size: 1.4rem;
  margin-bottom: 2vh;
}
#visitorHome > section:nth-of-type(3) {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#visitorHome > section:nth-of-type(3) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorHome > section:nth-of-type(3) > ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
#visitorHome > section:nth-of-type(3) > ul > li {
  max-width: 400px;
  margin: 20px;
}
#visitorHome > section:nth-of-type(3) > ul > li > article {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  height: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 3vh 3vw;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > header > figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > header > figure > img {
  border-radius: 100%;
  width: 80%;
  aspect-ratio: 1/1;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > section > h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5vh 0;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > section > p:nth-of-type(1) {
  font-size: 1.2rem;
  margin-bottom: 5vh;
  text-align: justify;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > section > p:nth-of-type(2) {
  text-align: center;
  margin-bottom: 3vh;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3vh;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > footer {
  display: flex;
  justify-content: center;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > footer > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#visitorHome > section:nth-of-type(3) > ul > li > article > footer > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
#visitorHome > section:nth-of-type(4) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorHome > section:nth-of-type(4) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorHome > section:nth-of-type(4) > p {
  font-size: 1.4rem;
  margin-bottom: 2vh;
}

#visitorChiefs {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#visitorChiefs > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorChiefs > ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
#visitorChiefs > ul > li {
  max-width: 400px;
  margin: 20px;
}
#visitorChiefs > ul > li > article {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  height: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 3vh 3vw;
}
#visitorChiefs > ul > li > article > header > figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#visitorChiefs > ul > li > article > header > figure > img {
  border-radius: 100%;
  width: 80%;
  aspect-ratio: 1/1;
}
#visitorChiefs > ul > li > article > section > h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5vh 0;
}
#visitorChiefs > ul > li > article > section > p:nth-of-type(1) {
  font-size: 1.2rem;
  margin-bottom: 5vh;
  text-align: justify;
}
#visitorChiefs > ul > li > article > section > p:nth-of-type(2) {
  text-align: center;
  margin-bottom: 3vh;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3vh;
}
#visitorChiefs > ul > li > article > footer {
  display: flex;
  justify-content: center;
}
#visitorChiefs > ul > li > article > footer > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#visitorChiefs > ul > li > article > footer > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#visitorDishes {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#visitorDishes > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorDishes > ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
#visitorDishes > ul > li {
  max-width: 400px;
  margin: 20px;
}
#visitorDishes > ul > li > article {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  height: 100%;
  background-color: whitesmoke;
}
#visitorDishes > ul > li > article > header {
  width: 100%;
}
#visitorDishes > ul > li > article > header > figure {
  width: 100%;
}
#visitorDishes > ul > li > article > header > figure > img {
  width: 100%;
  aspect-ratio: 3/2;
}
#visitorDishes > ul > li > article > section {
  padding: 3vh 3vw;
}
#visitorDishes > ul > li > article > section > h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5vh 0;
}
#visitorDishes > ul > li > article > section > p:nth-of-type(1) {
  font-size: 1.2rem;
  margin-bottom: 5vh;
  text-align: justify;
  height: 5vh;
}
#visitorDishes > ul > li > article > section > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vh;
}
#visitorDishes > ul > li > article > section > section > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3vh;
}
#visitorDishes > ul > li > article > footer {
  padding: 3vh 3vw;
}
#visitorDishes > ul > li > article > footer > figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#visitorDishes > ul > li > article > footer > figure > img {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 100%;
  width: 20%;
}
#visitorDishes > ul > li > article > footer > figure > figcaption > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#visitorDishes > ul > li > article > footer > figure > figcaption > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#visitorChef > section:nth-of-type(1) {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
  display: grid;
}
@media only screen and (min-width: 769px) {
  #visitorChef > section:nth-of-type(1) {
    grid-template-columns: 4fr 6fr;
  }
}
@media only screen and (max-width: 769px) {
  #visitorChef > section:nth-of-type(1) {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 769px) {
  #visitorChef > section:nth-of-type(1) > figure {
    width: 100%;
    grid-template-columns: 4fr 6fr;
  }
}
@media only screen and (max-width: 769px) {
  #visitorChef > section:nth-of-type(1) > figure {
    width: 80%;
    margin: auto;
  }
}
#visitorChef > section:nth-of-type(1) > figure > img {
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
#visitorChef > section:nth-of-type(1) > section {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#visitorChef > section:nth-of-type(1) > section > h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4vh;
}
#visitorChef > section:nth-of-type(1) > section > p {
  font-size: 1.4rem;
}
#visitorChef > section:nth-of-type(1) > section > section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10vh;
}
#visitorChef > section:nth-of-type(1) > section > section > p {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: gold;
  padding: 5px 15px;
  border-radius: 10px;
}
#visitorChef > section:nth-of-type(2) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorChef > section:nth-of-type(2) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorChef > section:nth-of-type(2) > section {
  background-color: whitesmoke;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  border-radius: 15px;
}
@media only screen and (min-width: 1025px) {
  #visitorChef > section:nth-of-type(2) > section {
    width: 50vw;
  }
}
@media only screen and (max-width: 1025px) {
  #visitorChef > section:nth-of-type(2) > section {
    width: 90vw;
  }
}
#visitorChef > section:nth-of-type(2) > section > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#visitorChef > section:nth-of-type(2) > section > section > h4 {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3vh 0;
}
#visitorChef > section:nth-of-type(2) > section > section > section {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 769px) {
  #visitorChef > section:nth-of-type(2) > section > section > section {
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 769px) {
  #visitorChef > section:nth-of-type(2) > section > section > section {
    flex-direction: column;
    align-items: center;
  }
  #visitorChef > section:nth-of-type(2) > section > section > section > p:first-of-type {
    margin-bottom: 0;
  }
  #visitorChef > section:nth-of-type(2) > section > section > section > p:last-of-type {
    margin-top: 0;
  }
}
#visitorChef > section:nth-of-type(2) > section > section > section > p {
  font-size: 1.2rem;
  margin: 1vh 1vw;
}
#visitorChef > section:nth-of-type(2) > section > section > section > p:first-of-type {
  font-size: 1.4rem;
  font-weight: bold;
}
#visitorChef > section:nth-of-type(3) {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#visitorChef > section:nth-of-type(3) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#visitorChef > section:nth-of-type(3) > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
#visitorChef > section:nth-of-type(3) > ul > li {
  width: 400px;
  margin: 20px;
}
#visitorChef > section:nth-of-type(3) > ul > li > figure {
  width: 100%;
}
#visitorChef > section:nth-of-type(3) > ul > li > figure > img {
  width: 100%;
  aspect-ratio: 3/2;
}
#visitorChef > section:nth-of-type(3) > ul > li > figure > figcaption {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
#visitorChef > section:nth-of-type(4) {
  background-color: gold;
  padding: 5vh 5vw;
}
#visitorChef > section:nth-of-type(4) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

#register {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#register > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#register > form {
  display: grid;
  grid-template-rows: 15 1fr;
  padding: 5vh 5vw;
}
@media only screen and (min-width: 769px) {
  #register > form > fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #register > form > fieldset > label {
    text-align: right;
    margin: 1vh 1vw 0 0;
    font-size: 1.2rem;
  }
  #register > form > fieldset > input, #register > form > fieldset textarea, #register > form > fieldset select {
    width: 300px;
    margin: 1vh 1vw;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 1.2rem;
    padding: 0 15px;
  }
  #register > form > fieldset > small {
    display: none;
    grid-column: 2/3;
    margin: 0 0 2vh 2vw;
    color: darkred;
  }
}
@media only screen and (max-width: 769px) {
  #register > form > fieldset {
    display: flex;
    flex-direction: column;
  }
  #register > form > fieldset > label {
    text-align: left;
    margin: 1vh 2vw 0 2vw;
    font-size: 1.2rem;
  }
  #register > form > fieldset > input, #register > form > fieldset textarea, #register > form > fieldset select {
    align-self: center;
    width: 100%;
    margin: 1vh 1vw;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 1.2rem;
    padding: 0 15px;
  }
  #register > form > fieldset > small {
    display: none;
    grid-column: 2/3;
    margin: 0 0 2vh 2vw;
    color: darkred;
  }
}
#register > form > button {
  width: 200px;
  margin-top: 5vh;
  padding: 5px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: gold;
  border-radius: 10px;
  justify-self: center;
}

#loginForm {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#loginForm > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#loginForm > form {
  display: grid;
  grid-template-rows: 15 1fr;
  padding: 5vh 5vw;
}
@media only screen and (min-width: 769px) {
  #loginForm > form > fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #loginForm > form > fieldset > label {
    text-align: right;
    margin: 1vh 1vw 0 0;
    font-size: 1.2rem;
  }
  #loginForm > form > fieldset > input, #loginForm > form > fieldset textarea, #loginForm > form > fieldset select {
    width: 300px;
    margin: 1vh 1vw;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 1.2rem;
    padding: 0 15px;
  }
  #loginForm > form > fieldset > small {
    display: none;
    grid-column: 2/3;
    margin: 0 0 2vh 2vw;
    color: darkred;
  }
}
@media only screen and (max-width: 769px) {
  #loginForm > form > fieldset {
    display: flex;
    flex-direction: column;
  }
  #loginForm > form > fieldset > label {
    text-align: left;
    margin: 1vh 2vw 0 2vw;
    font-size: 1.2rem;
  }
  #loginForm > form > fieldset > input, #loginForm > form > fieldset textarea, #loginForm > form > fieldset select {
    align-self: center;
    width: 100%;
    margin: 1vh 1vw;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 1.2rem;
    padding: 0 15px;
  }
  #loginForm > form > fieldset > small {
    display: none;
    grid-column: 2/3;
    margin: 0 0 2vh 2vw;
    color: darkred;
  }
}
#loginForm > form > button {
  width: 200px;
  margin-top: 5vh;
  padding: 5px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: gold;
  border-radius: 10px;
  justify-self: center;
}

#profil > section:nth-of-type(1) {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profil > section:nth-of-type(1) > section {
  display: grid;
}
@media only screen and (min-width: 769px) {
  #profil > section:nth-of-type(1) > section {
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 8fr 1fr;
  }
}
@media only screen and (max-width: 769px) {
  #profil > section:nth-of-type(1) > section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media only screen and (min-width: 769px) {
  #profil > section:nth-of-type(1) > section > figure {
    width: 100%;
    grid-template-columns: 4fr 6fr;
  }
}
@media only screen and (max-width: 769px) {
  #profil > section:nth-of-type(1) > section > figure {
    width: 80%;
    margin: auto;
  }
}
#profil > section:nth-of-type(1) > section > figure > img {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
#profil > section:nth-of-type(1) > section > section {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#profil > section:nth-of-type(1) > section > section > h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4vh;
}
#profil > section:nth-of-type(1) > section > section > p {
  font-size: 1.4rem;
}
#profil > section:nth-of-type(1) > section > section > section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10vh;
}
#profil > section:nth-of-type(1) > section > section > section > p {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  font-size: 1.6rem;
  font-weight: bold;
  background-color: gold;
  padding: 5px 15px;
  border-radius: 10px;
}
#profil > section:nth-of-type(1) > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#profil > section:nth-of-type(1) > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
#profil > section:nth-of-type(2) {
  background-color: gold;
  padding: 5vh 5vw;
}
#profil > section:nth-of-type(2) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#profil > section:nth-of-type(2) > section {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  background-color: whitesmoke;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  border-radius: 15px;
}
@media only screen and (min-width: 1025px) {
  #profil > section:nth-of-type(2) > section {
    width: 50vw;
  }
}
@media only screen and (max-width: 1025px) {
  #profil > section:nth-of-type(2) > section {
    width: 90vw;
  }
}
#profil > section:nth-of-type(2) > section > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profil > section:nth-of-type(2) > section > section > h4 {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3vh 0;
}
#profil > section:nth-of-type(2) > section > section > section {
  width: 100%;
  display: flex;
}
@media only screen and (min-width: 769px) {
  #profil > section:nth-of-type(2) > section > section > section {
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 769px) {
  #profil > section:nth-of-type(2) > section > section > section {
    flex-direction: column;
    align-items: center;
  }
  #profil > section:nth-of-type(2) > section > section > section > p:first-of-type {
    margin-bottom: 0;
  }
  #profil > section:nth-of-type(2) > section > section > section > p:last-of-type {
    margin-top: 0;
  }
}
#profil > section:nth-of-type(2) > section > section > section > p {
  font-size: 1.2rem;
  margin: 1vh 1vw;
}
#profil > section:nth-of-type(2) > section > section > section > p:first-of-type {
  font-size: 1.4rem;
  font-weight: bold;
}
#profil > section:nth-of-type(3) {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#profil > section:nth-of-type(3) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#profil > section:nth-of-type(3) > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profil > section:nth-of-type(3) > section > ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
#profil > section:nth-of-type(3) > section > ul > li {
  max-width: 400px;
  margin: 20px;
}
#profil > section:nth-of-type(3) > section > ul > li > figure {
  width: 100%;
}
#profil > section:nth-of-type(3) > section > ul > li > figure > img {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  width: 100%;
  aspect-ratio: 3/2;
}
#profil > section:nth-of-type(3) > section > ul > li > figure > figcaption {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
#profil > section:nth-of-type(3) > section > a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#profil > section:nth-of-type(3) > section > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
#profil > section:nth-of-type(4) {
  background-color: gold;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#profil > section:nth-of-type(4) > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#profil > section:nth-of-type(4) > a {
  align-self: center;
  width: auto;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: skyblue;
}
#profil > section:nth-of-type(4) > a:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#createDishForm {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#createDishForm > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#createDishForm > form {
  display: grid;
  grid-template-rows: 15 1fr;
  grid-template-row: 2fr 1fr;
  padding: 5vh 5vw;
}
#createDishForm > form > fieldset {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#createDishForm > form > fieldset > label {
  text-align: right;
  margin: 1vh 1vw;
  font-size: 1.2rem;
}
#createDishForm > form > fieldset > input, #createDishForm > form > fieldset textarea, #createDishForm > form > fieldset select {
  width: 300px;
  margin: 1vh 1vw;
  border: none;
  border-radius: 10px;
  background-color: gold;
  font-size: 1.2rem;
  padding: 0 15px;
}
#createDishForm > form > fieldset > small {
  display: none;
  grid-column: 2/3;
  margin: 0 0 2vh 2vw;
  color: darkred;
}
#createDishForm > form > button {
  width: 200px;
  margin-top: 5vh;
  padding: 5px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: gold;
  border-radius: 10px;
  justify-self: center;
}

#events > section {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#events > section > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

.calendarByMonth {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}
@media only screen and (min-width: 1025px) {
  .calendarByMonth {
    display: block;
  }
}
@media only screen and (max-width: 1025px) {
  .calendarByMonth {
    display: none;
  }
}
.calendarByMonth > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.calendarByMonth > h3 > a {
  font-size: 1.4rem;
  background-color: gold;
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
}
.calendarByMonth > h3 > a > span {
  color: black;
  margin: 0 10px;
}
.calendarByMonth > table {
  width: 100%;
}
.calendarByMonth > table > thead > tr > th {
  border: 1px solid black;
  padding: 5px;
}
.calendarByMonth > table > thead > tr > th > strong {
  font-weight: bold;
}
.calendarByMonth > table > tbody > tr > td {
  border: 1px solid black;
}
.calendarByMonth > table > tbody > tr > td.today {
  background-color: lightgrey;
}
.calendarByMonth > table > tbody > tr > td > p {
  padding: 5px;
}
.calendarByMonth > table > tbody > tr > td > p > strong {
  font-weight: bold;
}
.calendarByMonth > table > tbody > tr > td > section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.calendarByMonth > table > tbody > tr > td > section > p {
  cursor: pointer;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.calendarByMonth > table > tbody > tr > td > section > p.booked {
  border: lightsalmon;
  background-color: lightsalmon;
}
.calendarByMonth > table > tbody > tr > td > section > p.available {
  border: lightgreen;
  background-color: lightgreen;
}

.calendarByWeek {
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}
@media only screen and (min-width: 1025px) {
  .calendarByWeek {
    display: none;
  }
}
@media only screen and (max-width: 1025px) {
  .calendarByWeek {
    display: block;
  }
}
.calendarByWeek > h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.calendarByWeek > section:nth-of-type(1) {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.calendarByWeek > section:nth-of-type(1) > a {
  font-size: 1.4rem;
  background-color: gold;
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
}
.calendarByWeek > section:nth-of-type(1) > a > span {
  color: black;
  margin: 0 10px;
}
.calendarByWeek > section:nth-of-type(2) {
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  background-color: #e3e3e3;
  margin: auto;
  padding: 20px;
}
@media only screen and (min-width: 769px) {
  .calendarByWeek > section:nth-of-type(2) {
    width: 60%;
  }
}
@media only screen and (max-width: 769px) {
  .calendarByWeek > section:nth-of-type(2) {
    width: 90%;
  }
}
.calendarByWeek > section:nth-of-type(2) > section {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
  text-align: center;
  padding: 5px;
  font-weight: bold;
  margin: 4vh 0;
}
.calendarByWeek > section:nth-of-type(2) > section > section {
  display: flex;
  justify-content: center;
  margin: 1vh 1vw;
}
.calendarByWeek > section:nth-of-type(2) > section > section > p {
  cursor: pointer;
  width: 30vw;
  border: 1px solid black;
  padding: 1vh 1vw;
  margin: 0 1vw;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.calendarByWeek > section:nth-of-type(2) > section > section > p.today {
  background-color: #e3e3e3;
}
.calendarByWeek > section:nth-of-type(2) > section > section > p.booked {
  border: lightsalmon;
  background-color: lightsalmon;
}
.calendarByWeek > section:nth-of-type(2) > section > section > p.available {
  border: lightgreen;
  background-color: lightgreen;
}

#visitor_aside {
  position: absolute;
  top: 10vh;
  right: 0;
  background-color: rgba(255, 215, 0, 0.8);
  padding: 2vh 2vw;
  border-radius: 0 0 0 10px;
}
#visitor_aside > ul {
  margin-bottom: 4vh;
}
#visitor_aside > ul > li {
  margin: 1vh 0;
}
#visitor_aside > ul > li > figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitor_aside > ul > li > figure > img {
  height: 60%;
  border-radius: 100%;
}
#visitor_aside > ul > li > a {
  color: white;
  font-size: 3rem;
}
#visitor_aside > nav > ul > li {
  text-align: center;
}
#visitor_aside > nav > ul > li > a {
  color: white;
  font-size: 3rem;
}

#error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gold;
  height: 80vh;
}
#error404 > h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 30px;
}
#error404 > p {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}

#contactChief {
  background-color: #e3e3e3;
  padding: 5vh 5vw;
}
#contactChief > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}
#contactChief > form {
  display: grid;
  padding: 5vh 5vw;
}
@media only screen and (min-width: 1025px) {
  #contactChief > form > fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #contactChief > form > fieldset > label {
    text-align: right;
    margin: 1vh 1vw 0 0;
    font-size: 1.2rem;
  }
  #contactChief > form > fieldset > input, #contactChief > form > fieldset textarea, #contactChief > form > fieldset select {
    width: 600px;
    margin: 1vh 1vw;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 1.2rem;
    padding: 0 15px;
  }
  #contactChief > form > fieldset > textarea {
    height: 20vh;
  }
  #contactChief > form > fieldset > small {
    display: none;
    grid-column: 2/3;
    margin: 0 0 2vh 2vw;
    color: darkred;
  }
}
@media only screen and (max-width: 1025px) {
  #contactChief > form > fieldset {
    display: flex;
    flex-direction: column;
  }
  #contactChief > form > fieldset > label {
    text-align: left;
    margin: 1vh 2vw 0 2vw;
    font-size: 1.2rem;
  }
  #contactChief > form > fieldset > input, #contactChief > form > fieldset textarea, #contactChief > form > fieldset select {
    align-self: center;
    width: 100%;
    margin: 1vh 1vw;
    border: none;
    border-radius: 10px;
    background-color: gold;
    font-size: 1.2rem;
    padding: 0 15px;
  }
  #contactChief > form > fieldset input {
    text-overflow: ellipsis;
  }
  #contactChief > form > fieldset > textarea {
    height: 20vh;
  }
  #contactChief > form > fieldset > small {
    display: none;
    grid-column: 2/3;
    margin: 0 0 2vh 2vw;
    color: darkred;
  }
}
#contactChief > form > button {
  width: 200px;
  margin-top: 5vh;
  padding: 5px 15px;
  font-size: 1.2rem;
  border: none;
  background-color: gold;
  border-radius: 10px;
  justify-self: center;
}

#contactValidation {
  background-color: gold;
  height: 70vh;
  padding: 5vh 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactValidation > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5vh;
}

.hidden {
  display: none;
}

.adminImage {
  height: 100px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Dancing Script", cursive;
}

.adminTitles {
  font-family: unset;
}

/*# sourceMappingURL=style.css.map */
