#visitor_aside{
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2vh 2vw;
    > ul{
        margin-bottom: 3vh;
        > li{
            > figure{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                > img{
                    height: 60%;
                    border-radius: 100%;
                }
            }

            > a{
                color: white;
                font-size: 3rem;
            }
        }
    }
    > nav{
        > ul{
            > li{
                text-align: center;
                > a{
                color: white;
                font-size: 3rem;
                }
            }
        }
    }
}