#visitor_aside{
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: rgba($yellow, 0.8);
    padding: 2vh 2vw;
    border-radius: 0 0 0 10px;
    > ul{
        margin-bottom: 4vh;
        > li{
            margin: 1vh 0;
            > figure{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                > img{
                    height: 160px;
                    border-radius: 100%;
                }
            }

            > a{
                color: white;
                font-size: 3rem;
            }
        }
    }
    > nav{
        > ul{
            > li{
                text-align: center;
                > a{
                color: white;
                font-size: 3rem;
                }
            }
        }
    }
}