.calendarByWeek{
        box-shadow: 10px 10px 15px rgba(70,70,70,0.12);
        @media only screen and (min-width: 1025px) {
        display: none;
        }
        @media only screen and (max-width: 1025px) {
        display: block;
        }

        background-color: $white;
        border-radius: 5px;
        padding: 10px;
    > h3{
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        margin: 10px;
    }
    > section:nth-of-type(1){
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        > a{
            font-size: 1.4rem;
            background-color: $yellow;
            border-radius: 100%;
            padding: 5px;
            margin: 10px;
            > span{
                color: $black;
                margin: 0 10px;
            }
        }
        
    }
    > section:nth-of-type(2){
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(70,70,70,0.12);
        background-color: $grey;
        @media only screen and (min-width: 769px) {
            width: 60%;
        }
        @media only screen and (max-width: 769px) {
            width: 90%;
        }
        margin: auto;
        padding: 20px;
        > section{
            background-color: $white;
            border-radius: 10px;
            box-shadow: 10px 10px 15px rgba(70,70,70,0.12);
            text-align: center;
            padding: 5px;
            font-weight: bold;
            margin: 4vh 0;
            > section{
                display: flex;
                justify-content: center;
                margin: 1vh 1vw;
                > p{
                    cursor: pointer;
                    width: 30vw;
                    border: 1px solid $black;
                    padding: 1vh 1vw;
                    margin: 0 1vw;
                    border-radius: 10px;
                    box-shadow: 10px 10px 15px rgba(70,70,70,0.12);
                    &.today{
                        background-color: $grey;
                    }
                    &.booked{
                        border: $red;
                        background-color: $red;
                    }
                    &.available{
                        border: $green;
                        background-color: $green;
                    }
                }
            }
        }
    }
}
