#footer{
    background-color: $footer;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    > section:nth-of-type(1){
        display: grid;
        @media only screen and (min-width: 1025px) {
            grid-template-columns: 1fr 1fr;
        }
        @media only screen and (max-width: 1025px) {
            grid-template-columns: 1fr;
        }

        > section:nth-of-type(2){
            > h3{
                font-size: 1.2 rem;
                font-weight: bold;
                text-align: center;
                margin-bottom: 2vh;
            }
            > p{
                text-align: justify;
            }
        }
        > section:nth-of-type(1){
            > h3{
                font-size: 1.2 rem;
                font-weight: bold;
                text-align: center;
                margin-bottom: 2vh;
            }
            > form{
                padding: 0 3vw;
                > fieldset{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2vh;
                    > input{
                        border: none;
                        border-radius: 5px;
                    }
                    > textarea{
                        border: none;
                        border-radius: 5px;
                    }
                    > small{
                        display: none;
                        grid-column: 2 / 3;
                        margin: 0 0 2vh 0;
                        color: darkred;
                    }
                }
                > button{
                    border: none;
                    background-color: $yellow;
                    border-radius: 5px;
                    padding: 1vh 1vw;
                }
            }
        }
    }
    > section:nth-of-type(2){
        margin-top: 3vh;
        > h3{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}