#visitor_header{
    background-color: white;
    display: grid;
    @media only screen and (min-width: 1025px) {
        grid-template-columns: 0.1fr 0.1fr 0.1fr 0.8fr 0.2fr 0.4fr 0.1fr;
    }
    @media only screen and (max-width: 1025px) {
        grid-template-columns: 0.1fr 0.4fr 0.1fr 0.4fr 0.1fr;
    }
    @media only screen and (min-width: 1200px) {
        grid-template-rows: 20vh;
    }
    @media only screen and (max-width: 1200px) {
        grid-template-rows: 10vh;
    }
    box-shadow: 2px 2px 5px rgba(220, 220, 220, 0.5);
    > figure{
        grid-column: 2 / 3;
        height: 100%;
        > img{
            height: 100%;
            @media only screen and (min-width: 1200px) {
                width: 20vh;
            }
            @media only screen and (max-width: 1200px) {
                width: 10vh;
            }
        }
    }
    > span{
        grid-column: 4 / 5;
        align-self: center;
        justify-self: right;
        margin-right: 5px;
        font-size: 50px;
        @media only screen and (min-width: 1025px) {
        display: none;
        }
        @media only screen and (max-width: 1025px) {
        display: block;
        }
    }
    > nav{
        grid-column: 4 / 5;
        @media only screen and (min-width: 1025px) {
        display: flex;
        }
        @media only screen and (max-width: 1025px) {
        display: none;
        }
        > ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            > li{
                padding: 5px 0;
                > a{
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: $black;
                    // color: $white;
                }
                &:hover{
                    transform: translateY(-4px);
                        border-bottom: 4px solid $black;
                }
            }
        }
    }
    > ul{
        grid-column: 6 / 7;
        @media only screen and (min-width: 1025px) {
        display: flex;
        }
        @media only screen and (max-width: 1025px) {
        display: none;
        }
        justify-content: space-between;
        align-items: center;
        > li{
            display: flex;
            align-items: center;
            
            height: 100%;
            > a{
                font-size: 1.4rem;
                text-decoration: none;
                color: $black;
                margin-left: 10px;
                &:hover{
                    transform: translateY(-4px);
                    border-bottom: 4px solid $black;
                }
            }
            > figure{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                > img{
                    height: 60%;
                    border-radius: 100%;
                }
            }
        }
    }
}