#registerForm{
    background-color: $grey;
    padding: 5vh 5vw;
    > h2{
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5vh;
    }
    > form{
        display: grid;
        grid-template-rows: (15 1fr);
        padding: 5vh 5vw;
        > fieldset{
            display: grid;
            grid-template-columns: 1fr 2fr;
            > label{
                text-align: right;
                margin: 1vh 1vw;
                font-size: 1.2rem;
            }
            > input, textarea, select{
                width: 300px;
                margin: 1vh 1vw;
                border: none;
                border-radius: 10px;
                background-color: $yellow;
                font-size: 1.2rem;
                padding: 0 15px;
            }
        }
        > button{
            width: 200px;
            margin-top: 5vh;
            padding: 5px 15px;
            font-size: 1.2rem;
            border: none;
            background-color: $yellow;
            border-radius: 10px;
            justify-self: center;
            ;
        }
    }
}