// Themes
$yellow : yellow;
$grey : lightgrey;
$black : black;
$white : white;

// Light
$lightThemeRed : #ba0534;
$lightThemeBlue : #2d71e3;
$lightThemeGreen : #106942;
$lightThemeOrange : #d73b07;

// Dark
$darkThemeRed : #fe4c54;
$darkThemeBlue : #1499e7;
$darkThemeGreen: #3ee8a5;
$darkThemeOrange : #fd790f;

// Gradient
$gradient-top-left: linear-gradient(225deg, #7400b8, #6930c3, #5e60ce, #5390d9, #4ea8de, #48bfe3, #56cfe1);