@import "reset";
@import "vars";
@import "_header";
@import "_footer";
@import "_visitorHome";
@import "_visitorChiefs";
@import "_visitorDishes";
@import "_visitorChef";
@import "_register";
@import "_loginForm";
@import "_profil";
@import "_createDishForm";
@import "_events";
@import "_calendarByMonth";
@import "_calendarByWeek";
@import "_aside";
@import "_error404";
@import "_contactChief";
@import "_contactValidation";


.hidden{
    display: none;
}
.adminImage{
    height: 100px;
}

body{
    font-family: 'Roboto', sans-serif;
}
h1, h2{
    font-family: 'Dancing Script', cursive;
}
.adminTitles{
    font-family: unset;
}